<div>
    <center>
      <button type="button" class="btn btn-primary waves-light" (click)="formL.show()" mdbRippleRadius>Login</button>
      </center>
      <!--Modal: Login Form-->
      <div mdbModal #formL="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog cascading-modal" role="document">
              <!--Content-->
              <div class="modal-content">

                  <!--Header-->
                  <div class="modal-header light-blue darken-3 white-text">
                      <h4 class="title"><i class="fa fa-user"></i> Log in</h4>
                      <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formL.hide()">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <!--Body-->
                  <div class="modal-body">
                      <form (ngSubmit)="onLogin(f)" #f="ngForm">

                          <div class="md-form form-sm">
                              <i class="fa fa-envelope prefix grey-text"></i>
                              <input type="text" id="lusername" name="lusername" class="form-control" ngModel mdbActive>
                              <label for="orangeForm-email">Your Username</label>
                          </div>

                          <div class="md-form form-sm">
                              <i class="fa fa-lock prefix grey-text"></i>
                              <input type="password" id="lpassword" name="lpassword" class="form-control" ngModel mdbActive>
                              <label for="orangeForm-pass">Your password</label>
                          </div>

                          <div class="text-center mt-2">
                              <button class="btn btn-info waves-light" mdbRippleRadius type="submit">Login</button>
                          </div>

                      </form>

                  </div>
                  <!--Footer-->
                  <div class="modal-footer">
                      <div class="options text-center text-md-right mt-1">
                          <p>Not a member? <a href="#">Sign Up</a></p>
                          <p>Forgot <a href="#">Password?</a></p>
                      </div>
                      <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="formL.hide()" mdbRippleRadius>Close</button>
                  </div>
              </div>
              <!--/.Content-->
          </div>
      </div>
      <!--Modal: Login Form-->
  </div>
