.bq-primary
{
  border-left: 3px solid #ffffff;
}
button {
  width: 90%;
  height:100px;
  display: block;
  margin: 30px center;
  font-size:1.6rem;
}
btn:hover{
  color:red;
}
h3{
  width:95%;
  font-size: 1.2rem;
  margin-bottom: 50px;
}
